@{
  Layout = "_Layout";
}

<div class="container">
  <!-- <h1>Address Book</h1> -->
  <h3><em>View existing addresses, create new entries, and delete old entries</em></h3>
    <br>
    <div class="addressBook">

      @if(@Model != null)
        {
          <h3>You haven't entered any addresses.</h3>
        }
      @{var count = 0;}
      @foreach(var contact in Model)
        {
          count++;
          <h4><strong>Contact #: @contact.GetId()</strong></h4>
          <p><a href='/Contacts/@contact.GetId()'>@contact.GetName()</a></p>
          <p>@Html.ActionLink("Delete", "Delete", new { id=@contact.GetId() })
          </p>
        }

    </div>
    <!-- end of address book div -->
  <!-- routing button -->
  <form action="/Contacts/Delete" method="get">
    <button type="submit" name="button">Delete all contacts</button>
  </form>
  <!-- routing button -->
  <form action="/Contacts/Create" method="get">
    <button type="submit" name="button">Create a new entry</button>
  </form>

</div>
<!-- end of container -->
